<?xml version="1.0" ?>
<robot name="baxter-ridgeback" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="gazebo" default="true"/>
  <xacro:arg name="pedestal" default="true"/>
  <!--Ridgeback Base Robot-->
  <xacro:include filename="$(find ridgeback_description)/urdf/ridgeback.urdf.xacro" />
  <!-- Baxter Base URDF -->
  <xacro:include filename="$(find baxter_description)/urdf/baxter_base/baxter_base.urdf.xacro">
    <xacro:arg name="gazebo" value="${gazebo}"/>
  </xacro:include>

  <!-- Baxter Pedestal -->
  <xacro:if value="$(arg pedestal)">
    <xacro:include filename="$(find baxter_description)/urdf/pedestal/pedestal.xacro">
    </xacro:include>
  </xacro:if>

  <!-- Left End Effector -->
  <xacro:include filename="$(find baxter_description)/urdf/left_end_effector.urdf.xacro" />

  <!-- Right End Effector -->
  <xacro:include filename="$(find baxter_description)/urdf/right_end_effector.urdf.xacro" />

  <!-- Link Baxter and Ridgeback-->
  <joint name="ridgeback_base_to_baxter" type="fixed">
    <origin rpy="0 0 0" xyz="0.2 0 0.8475" />
    <parent link="chassis_link" />
    <child link="base" />
  </joint>

</robot>
